@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    background-color: hsl(217, 54%, 11%);
}

.container{
    width: 270px;
    height: 475px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: .8rem;
    box-shadow: 0px 15px 30px 15px rgba(0, 0, 0, 0.187);
}
.img-equilibrium{
    height: 267px;
    width: 267px;
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
}
.equi{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}
p{
    color: hsl(215, 51%, 70%);
    font-size: 16px;
}
.data{
    display: flex;
    justify-content: space-between;
    color: hsl(215, 51%, 70%);
}
.nft{
    font-size: 15px;

    color: hsl(178, 100%, 50%);
    position: relative;
    padding-left: 15px;

}
.nft::before{
    position: absolute;
    left:-2px;
    content: url(images/icon-ethereum.svg);
    
}
.day{
    position: relative;
    font-size: 15px;
}

.day::before{
    position: absolute;
    content: "";
    background: url("images/icon-clock.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    left: -20px;
    bottom: 1.3px;
}

.author{
    color: hsl(0, 0%, 100%);
}
.bar{
    border-bottom: solid 1px hsl(215, 32%, 27%);
    width: 267px;
}
.creator{
    position: relative;
    
    font-size: 15px;
    margin-top: 20px;
    padding-left: 45px;
}

.creator::before{
    position: absolute;
    content: "";
    background: url("images/image-avatar.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    border: solid 1px hsl(0, 0%, 100%);
    border-radius: 50%;
    top: -8px;
    left: 0;

}